[build]
  command = "yarn build"
  publish = "public"

[build.environment]
  NODE_VERSION = "22"

[[headers]]
  for = "/*.pdf"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    Content-Type = "application/pdf"
