.SocialMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SocialMenuItem {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  color: #336e7b;
  text-decoration: none;
  font-weight: 300;
}

.SocialMenuItem svg{
  margin-right: 1rem;
}
